*{
    margin: 0;
    padding: 0;
}

body{
    margin: 1em;
    display: flex;
    flex-direction: column;
    
    font-family: 'Righteous', cursive;
}

.none {
    display: none;
}

.timer{
    font-family: 'Courier Prime', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board{
    display: grid;
    grid-template-rows: 12vh 12vh 12vh;
    grid-template-columns: 12vh 12vh 12vh;
    background: white;
    justify-self: center;   /* 横方向中央揃え */
    align-self: center;     /* 縦方向中央揃え */
}

.cell{
    background: black;
    border: solid 2px white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5vh;
}

img {
    width: 100%;
    height: 100%;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnStart{
    font-family: 'Courier Prime', monospace;
    width: 36vh;
    padding: 1em;
    font-size: 3vh;
}

.message{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

#timer {
    font-size: 3em;
    margin: 20px 0;
}

.controls button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.controls button:hover {
    background-color: #45a049;
}

.board button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.board button:hover {
    background-color: #45a049;
}

#status {
    margin-top: 20px;
    font-size: 1.2em;
}

/* モーダル全体のスタイル */
.modal {
    display: none; /* 初期状態は非表示 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* モーダルのコンテンツ部分のスタイル */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 閉じるボタンのスタイル */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

#clear {
    width: 500px;
    height: 500px;
}